<div class="carta_de_agregar mx-auto" style="width: 25rem;">
                <div class="card  border-info">
                <div class="mhead1 mx-auto">
                <img src="/img/tenor.gif" class="card-img-top" style="width: 15rem;" alt="hola">  
                    <h5>
                       Edita una muerte 
                    </h5>
                </div>
                <div class="card-body text-info ">
                    <form action="/muertes/edit/{{muertes.idMuerte}}" method="POST">
                        <div class="form">
                            <div class="form-group">
                                <p>Nombre<input type="text" value="{{muertes.Nombre}}" class="form-control" name='Nombre' placeholder="Nombre" autofocus></p>
                            </div>
                            <div class="form-group">
                                <p>Descripcion<input type="text" value="{{muertes.Descripcion}}" class="form-control" name="Descripcion" placeholder=""></p>
                            </div>
                                <button class="btn btn-secondary">
                                    Actualizar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                </div>