        <div class="carta_de_agregar mx-auto" style="width: 25rem;">
                <div class="card  border-info">
                <div class="mhead1 mx-auto">
                    <img src="/img/planeta.gif" class="card-img-top" style="width: 15rem;" alt="hola">
                    <br>
                    <h5>
                       Agregar nuevo pais
                    </h5>
                </div>
                <div class="card-body text-info ">
                    <form action="/paises/add" method="POST">
                        <div class="form">
                            <div class="form-group">
                                <p>Nombre<input type="text" class="form-control" name="Nombre" placeholder=""></p>
                            </div>
                            <button class="btn btn-secondary">
                                Agregar
                            </button>
                            </div>
                        </div>
                    </form>
                </div>
                </div>