        <div class="carta_de_agregar mx-auto">
                <div class="card  border-info">
                <div class="mhead1 mx-auto">
                    <h5>
                       Asigna una herramienta
                    </h5>
                </div>
                <div class="card-body text-info ">
                    <form action="/pecadores_castigos/add" method="POST">
                        <div class="form">
                            <div class="form-group">
                                <p>Castigo<input type="INT" class="form-control" name="Castigos_idCastigo" placeholder=""></p>
                            </div>
                            <div class="form-group">
                                <p>Herramienta<input type="INT" class="form-control" name="Herramientas_idHerramienta" placeholder=""></p>
                            </div>
                            <button class="btn btn-secondary btn-block">
                                Dead
                            </button>
                            </div>
                        </div>
                    </form>
                </div>
                </div>