<div class="container pt-4">
<div class="row">
  <div class="col-sm-6">
<div class="card">
  <h5 class="card-header">Castigo a pecador</h5>
  <div class="card-body">
          <img src="/img/wat.gif" class="card-img-top" style="width: 15rem;" alt="hola">
    <h5 class="card-title"> los castigos los ejercen los demonios </h5>
    <p class="card-text">asigna uno o más castigos a un pecador</p>
    <a href="/pecadores_castigos" class="btn btn-danger">castigar</a>
  </div>
</div>

</div>
  <div class="col-sm-6">
<div class="card">
  <h5 class="card-header">Herramienta a castigo</h5>
  <div class="card-body">
          <img src="/img/boo.gif" class="card-img-top" style="width: 14rem;" alt="hola">
    <h5 class="card-title">las herramientas son usadas por los demonios </h5>
    <p class="card-text">asigna una o mas herramientas a un castigo</p>
    <a href="/castigos_herramientas" class="btn btn-danger">Asignar</a>
  </div>
</div>

</div>
</div>
</div>