<div class="container-p4">
    <div class="mhead2 mx-auto" class="list-group">
        <a href="/pisos" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"> Pisos</h5>
                </div>
                <p class="mb-1">el infierno se divide en pisos divididos por nivel de pecado</p>
        </a>
        <a href="/pecadores" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Pecadores</h5>
                </div>
                <p class="mb-1">Personas que realizaron uno o más de los pecados</p>
                </a>
        <a href="/pecados" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Pecados  </h5>
                </div>
                <p class="mb-1">Define lo que esta mal </p>
                
        </a>
        <a href="/demonios" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Demonios</h5>
                </div>
                <p class="mb-1">Especialistas en ejercer castigos especificos</p>
                
        </a>
        <a href="/guardias" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Guardias</h5>
                </div>
                <p class="mb-1">Vigilan que todo este bajo control tienen pisos a cargo</p>
        </a>
        <a href="/castigos" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Castigos</h5>
                </div>
                <p class="mb-1">Tipos de castigos que se pueden ejercer</p>
        </a>
        <a href="/herramientas" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Herramientas</h5>
                </div>
                <p class="mb-1">Objetos ocupados para torturar</p>
        </a>
        <a href="/paises" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Paises</h5>
                </div>
                <p class="mb-1">Lugar al que pertenecian los Pecadores</p>
        </a>
        <a href="/muertes" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Muertes</h5>
                </div>
                <p class="mb-1">Forma en la que murieron los Pecadores</p>
        </a>        
</div>
</div>