        <div class="carta_de_agregar mx-auto">
                <div class="card  border-info">
                <div class="mhead1 mx-auto">
                    <img src="/img/hog.gif" class="card-img-top" style="width: 25rem;" alt="hola">
                    <h5>
                       Agregar nuevo castigo 
                    </h5>
                </div>
                <div class="card-body text-info ">
                    <form action="/castigos/add" method="POST">
                        <div class="form">
                            <div class="form-group">
                                <p>Nombre<input type="text" class="form-control" name="Nombre" placeholder=""></p>
                            </div>
                            <div class="form-group">
                                <p>Descripcion<textarea class="form-control" name="Descripcion" rows="1"></textarea></p>
                            </div>
                            <button class="btn btn-secondary">
                                Confirmar
                            </button>
                            </div>
                        </div>
                    </form>
                </div>
                </div>