        <div class="carta_de_agregar mx-auto">
                <div class="card  border-info">
                    <img src="/img/espada.jpg" class="card-img-top" style="width: 10rem;" alt="hola">
                <div class="mhead1 mx-auto">
                    <h5>
                       Agregar nueva herramienta
                    </h5>
                </div>
                <div class="card-body text-info ">
                    <form action="/herramientas/add" method="POST">
                        <div class="form">
                            <div class="form-group">
                                <p>Nombre<input type="text" class="form-control" name="Nombre" placeholder=""></p>
                            </div>
                            <div class="form-group">
                                <p>Tipo<input type="int" class="form-control" name="Tipo" placeholder=""></p>
                            </div>
                            <button class="btn btn-secondary">
                                Confirmar
                            </button>
                            </div>
                        </div>
                    </form>
                </div>
                </div>